<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="background">
  <%- include('../partials/_navbar.ejs') %>
  <!-- <h1>Join the Collective!</h1> -->
  <!-- <img src='../images/cbc-logo-transparent.PNG'> -->
  <form action="/auth/sign-up" method="POST">
    <label for="firstName">First Name:</label>
    <input type="text" name="firstName" id="firstName" required />
    <label for="lastName">Last Name:</label>
    <input type="text" name="LastName" id="LastName"/>
    <label for="email">email:</label>
    <input type="text" name="email" id="email"/>
    <label for="age">Age:</label>
    <input type="number" name="age" id="age" required />
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword" required />
    <button type="submit">Sign up</button>
  </form>
  <div>
    <a href="/"><button>Home</button></a>
  </div>
  <script>
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    menuToggle.addEventListener('click', () => {
      menu.classList.toggle('active');
    });
  </script>
</body>
</html>
