<header>
  <nav class="navbar">
    <a href="/" class="logo">The CBC</a>
    <button class="menu-toggle" id="menu-toggle">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
    <div class="menu" id="menu">
      <a href="/" class="nav-link">Home</a>
      <% if (user) { %>
        <a href="/users/<%= user._id %>/breweries" class="nav-link">My Craft Beer</a>
        <a href="/users" class="nav-link">The Collective</a>
        <a href="/auth/sign-out" class="nav-link">Sign Out</a>
      <% } else { %>
        <a href="/auth/sign-in" class="nav-link">Sign In</a>
      <% } %>
    </div>
  </nav>
</header>