<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The CBC</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <% if (user) { %>
    <img src='./images/cbc-logo-transparent.png' class="img-size">
    <div class="content">
      <h3>Welcome to The Collective, <%= user.username %>!</h3>
      <p class="intro">
        It’s time to crack open a cold one and vibe with the best craft beer community on earth. Whether you’re chasing those dank IPAs, mellow stouts, or some funky sour brews, you’re in the right place. Here’s what you can do today:
      </p>
      <ul class="highlights">
        <li><p class="highlights-bold">Discover New Breweries</p> Dive into your brewery list or check out what the crew is loving.</li>
        <li><p class="highlights-bold">Add Your Favorites</p> Found a brew that blows your mind? Add it to the mix.</li>
      </ul>
      <p class="closing">
        Beer, community, good vibes—this is what it’s all about. So sit back, relax, and let’s get hoppy. 
        <p>🍺 Cheers, <%= user.username %>!</p>
    </div> 
  <% } else { %>
    <img src='./images/cbc-logo-transparent.png' class="img-size">
    <div>
      <h3>Welcome to The Collective</h3>
      <p class="intro">
        Your ultimate portal to the craft beer universe. A space where the art of brewing meets the vibes of a community that truly gets it. Whether you're a seasoned hop-head chasing those dank IPAs, a stout sage savoring the depths of dark brews, or just a curious soul ready to embark on a flavor journey, you’ve found your tribe.
      </p>
      <ul class="highlights">
        <li><p class="highlights-bold">Discover hidden breweries</p> Unearth those secret spots that craft unforgettable beers.</li>
        <li><p class="highlights-bold">Share mind-blowing beer tales</p> Let the world know about that one brew that changed your life.</li>
        <li><p class="highlights-bold">Vibe with fellow adventurers</p> Connect with brew enthusiasts from every corner of the globe.</li>
      </ul>
      <p class="closing">
        Together, let’s raise a glass to the creativity, the passion, and the cosmic connections that make craft beer more than just a drink—it’s a lifestyle.
      </p>
      <div class="intro">
        <p>Ready to join The Collective?</p>
<a href="/auth/sign-up"><button>Join the Collective</button></a>
  <% } %>
  <script>
    const menuToggle = document.getElementById('menu-toggle');
    const menu = document.getElementById('menu');

    menuToggle.addEventListener('click', () => {
      menu.classList.toggle('active');
    });
  </script>
</body>
</html>
