<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The CBC</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <% if (user) { %>
    <h1>Welcome to The Collective, <%= user.username %>!</h1>
  <% } else { %>
    <h1>Welcome to The Collective, my friend.</h1>
  <% } %>
  <img src='/images/cbc-logo-black.PNG' width="500">
</body>
</html>
