<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Collective</title>
    <!-- <link href="./css/output.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <img src='../images/cbc-logo-transparent.PNG' class="img-size">
    <h1>The Collective</h1>
    <div class="user-grid">
        <% users.forEach((user) => { %>
          <div class="user-item">
            <a href="/users/<%= user._id %>"><%= user.username %>'s Craft Beer List</a>
          </div>
        <% }) %>
      <script>
        const menuToggle = document.getElementById('menu-toggle');
        const menu = document.getElementById('menu');
    
        menuToggle.addEventListener('click', () => {
          menu.classList.toggle('active');
        });
      </script>
  </body>
</html>